.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: rgb(13, 159, 113);
}

.item1 {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin: 150px;
    width: 150px;
    color: rgb(72, 159, 159);

}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1 px;
    background-color: rgb(250, 250, 250);
    padding: 5px;

}

.item2 {
    background-color: rgb(14, 42, 51);
    padding: 15px;
    margin: 3px;
    text-align: left;

}

.item3 {
    background-color: rgb(38, 66, 75);
    padding: 15px;
    margin: 3px;
    text-align: left;
}

.container2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1 px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(13, 159, 113);
}

.item-2 {
    background-color: rgb(70, 165, 189);
    padding: 10px;
    font-size: 25px;
    text-align: center;
    margin: 15px;
    width: 300px;
    height: 100pxs;
    color: rgb(0, 0, 0);

}

.container-tarjeta {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: 1fr;
    gap: 3px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.container-tarjeta div {
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.container-tarjeta div.header {
    grid-area: header;
    text-align: center;
    color: azure;
    padding: 30px;
    margin: 3px;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
}

.container-tarjeta div.content {
    grid-area: content;
    padding: 30px;
    color: black;

}

.container-tarjeta div.footer {
    grid-area: footer;
    text-align: center;
    padding: 30px;
    margin: 3px;
    background-color: rgb(64, 61, 61);
}

.container-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
    grid-template-areas:
        "izquierda derecha-alta"
        "izquierda derecha-baja";
    gap: 10px;
    height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}

.izquierda {
    grid-area: izquierda;
    background-color: #008080;
    padding: 20px;
}

.derecha-alta {
    grid-area: derecha-alta;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}

.derecha-baja {
    grid-area: derecha-baja;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}